body {
  margin: 0;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 100%;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  min-width: 80%;
  max-width: 80%;
  margin: 0 auto;
  width: 100%;
}

.card h1 {
  text-align: center;
}

.card details summary:focus {
  outline: none;
}

.card details summary::after {
  content: url(images/keyboard_arrow_down-black-18dp.svg);
}

.card details summary::-webkit-details-marker {
  display:none;
}

.card details summary {
  padding-top: 1rem;
  padding-bottom: 1rem;
}